*.iml
.gradle
/local.properties
local.properties
key.properties
google-services.json
app/google-services.json
/.idea/
.idea
/build
build
app/build
.kotlin
.DS_Store
/captures
.externalNativeBuild
.cxx
*.jks
*.keystore
web/scripts/firebase-env.js
STeP-Admin/key.properties
STeP-Admin/local.properties
